<header>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <span class="navbar-brand">{{ title }}</span>
      </div>
      <!--        <ul class="nav navbar-nav navbar-right">
          <li><a href="#mission">Coming Soon...</a></li>
        </ul>-->
    </div>
    <!-- container -->
  </nav>
</header>

<div class="container">
  <h2>{{hero.name}} Details!</h2>
  <div class="row">
    <section class="panel col-xs-6" id="detailSection">

      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label" for="heroId">ID</label>
          <div class="col-sm-4">
            <p class="form-control-static" id="heroId">{{ hero.id }}</p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="heroName">Name</label>
          <div class="col-sm-4">
            <input class="form-control" type="text" id="heroName" name="heroName" [(ngModel)]="hero.name" placeholder="Name">
          </div>
        </div>

      </form>

    </section>
  </div>
  <!-- row -->
</div>
<!-- content container -->