<header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <span class="navbar-brand">{{ title }}</span>
            </div>
            <!--        <ul class="nav navbar-nav navbar-right">
          <li><a href="#mission">Coming Soon...</a></li>
        </ul>-->
        </div>
        <!-- container -->
    </nav>
</header>

<div class="container">

    <div class="row">
        <section class="panel col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3" id="heroListSection">
            <h2>My Heroes</h2>
            <div class="heroes list-group">
                <button class="list-group-item" *ngFor="let hero of heroes" [class.active]="hero === selectedHero" (click)="onSelect(hero)">
                    <span class="glyphicon glyphicon-star hero-badge"></span>
                    <span class="h4 hero-name">{{hero.name}}</span>
                </button>
            </div>
        </section>
    </div>

    <app-hero-detail [hero]="selectedHero" (heroDeselected)="heroDeselected($event)"></app-hero-detail>

</div>
<!-- content container -->