#title {
    padding-bottom: 15px;
}

@media only screen and (min-width : 768px) {
    .carousel-caption {
        top: 20%;
    }
}

@media only screen and (min-width : 992px) {
    .carousel-caption {
        top: 25%;
    }
}

@media only screen and (min-width : 1200px) {
    .carousel-caption {
        top: 30%;
    }
}

.carousel-indicators li {
    border-color: #00b3fe;
}


.hero-name {
    color: #eee;
    padding-top: 10%;
    padding-bottom: 30%;
}

.hero-name:hover {
    transition: background-color .4s linear, color .4s linear;
    -webkit-transition: background-color .4s linear, color .4s linear;
    -moz-transition: background-color .4s linear, color .4s linear;
    -o-transition: background-color .4s linear, color .4s linear;
    -ms-transition: background-color .4s linear, color .4s linear;
    color: #00b3fe;
    cursor: pointer;
}

.dash-content {
    padding-bottom: 15px;
}